<!-- post a question form -->
<div class="form">
  <%= simple_form_for @question do |f| %>


  <div class="new-form-borders">
    <%= f.input :title, placeholder: 'Ask for advise', label: false %>
  </div>
  <br>
   <div class="new-form-borders">
      <%= f.input :city, placeholder: 'Select your city', label: false, autocomplete: "off", input_html: { class: 'places-search form-control' } %>
  </div>
    <br>
    <div class="new-form-borders">
    <%= f.association :category, prompt: "Select a category",label: false, class: 'category-tip'%>
    </div>
    <%= f.button :submit, "Post a question", class: 'main-button-form'  %>
  <% end %>
</div>
