<!-- post a question form -->
<div class="form">
  <%= simple_form_for @question do |f| %>


  <div class="new-form-borders">
    <%= f.input :title, placeholder: 'Ask for advice', label: false %>
  </div>
  <br>
   <div class="new-form-borders">
      <%= f.input :city, placeholder: 'Select your city', label: false, autocomplete: "off", input_html: { class: 'places-search form-control' } %>
  </div>
    <br>
    <div class="new-form-borders">
    <%= f.association :category, prompt: "Select a category",label: false %>
    </div>
    <%= image_tag('doggy.png', class: 'doggy-dude') %>
    <%= f.button :submit, "Post a question", class: 'main-button-form illustration-anchor'  %>
  <% end %>
</div>
