<% questions.each do |question| %>
  <div class="card-tip m-3 p-2">
    <div class="top-card">
      <p class="mb-3 my-question-title"><%= question.title %></p>
      <p class="m-0 other-city-name"><%= question.city %></p>
    </div>
    <div class="bottom-card d-flex justify-content-between">
      <p class="time-created"><%= time_ago_in_words(question.created_at)%> ago</p>
      <% if question.tips.any? %>
        <%= link_to question_path(question), class: "question-actions" do %>
          <p class="answer-button" id="see-tips-btn"><%= pluralize(question.tips.count, 'tip') %></p>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
