  <div class="navbar navbar-home navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>

    <% if user_signed_in? %>
        <li class="nav-item dropdown">
        <%= button_tag current_user.username[0], class: "user_navbar avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <i class="fas fa-times"></i>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Post a tip", new_tip_path, class: "dropdown-item" %>
            <%= link_to "My tips", mytips_path, class: "dropdown-item" %>
            <%= link_to "Questions", questions_path, class: "dropdown-item" %>
            <%= link_to "Ask a question", new_question_path, class: "dropdown-item" %>
            <a class="dropdown-item" href="#">Account</a>
            <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", method: :delete %>
          </div>
        </li>
    <% else %>
      <button class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup=true aria-expanded=false>
        <div class="hamburger-container">
          <div class="bar bar1"></div>
          <div class="bar bar2"></div>
          <div class="bar bar3"></div>
        </div>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Sign In", new_user_session_path, class: "dropdown-item" %>
          <%= link_to "Register", new_user_registration_path, class: "dropdown-item" %>
      </div>
    <% end %>
  </div>
<!--Navbar-->



