<!-- tip_card.html.erb -->
<% @tips.each_with_index do |tip, index| %>
<div class="card-tip m-3 p-2">
  <div class="top-card d-flex justify-content-between">
    <p><strong><%= index + 1 %> | <%= tip.title %></strong></p>
    <div class="votes d-flex justify-content-between">
      <div class="vote d-flex justify-content-between">
        <i class="fas fa-caret-up m-1"></i>
        <p>22</p>
      </div>
      <p>|</p>
      <div class="vote d-flex justify-content-between">
        <i class="fas fa-caret-down m-1"></i>
        <p>3</p>
      </div>
    </div>
  </div>
  <p class="m-1"><%= tip.content %></p>
  <div class="bottom-card d-flex justify-content-between">
    <p>by <strong><%= tip.user.username %></strong> | <%= time_ago_in_words(tip.created_at)%> ago</p>
    <i class="far fa-flag"></i>
  </div>
</div>
<% end %>
