<!-- _votes.html.erb -->
<div id="tip_votes_<%= tip.id %>" class="d-flex justify-content-between">
  <%= simple_form_for [tip, Vote.new], remote: true do |f| %>
    <%= f.input :direction, as: :hidden, input_html: { value: 'up'} %>
    <%= up_vote_button(tip, user_votes) %>
  <% end %>

  <%= simple_form_for [tip, Vote.new], remote: true do |f| %>
    <%= f.input :direction, as: :hidden, input_html: { value: 'down' } %>
    <%= down_vote_button(tip, user_votes) %>
  <% end %>
</div>
