<!-- _votes.html.erb -->
<div id="tip_votes_<%= tip.id %>" class="votes d-flex justify-content-between">
  <%= simple_form_for [tip, Vote.new], remote: true do |f| %>
    <%= f.input :direction, input_html: { value: 'up', type: :hidden } %>
    <%= up_vote_button(tip, user_votes) %>
  <% end %>

  <p>|</p>

  <%= simple_form_for [tip, Vote.new], remote: true do |f| %>
    <%= f.input :direction, input_html: { value: 'down', type: :hidden } %>
    <%= down_vote_button(tip, user_votes) %>
  <% end %>
</div>
