<% @no_footer = true %>

<div class="form-container">
  <div class="form form-devise-sing-in">
    <h1 style="padding-bottom: 13px;">Create your account</h1>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="new-form-borders">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }, placeholder: 'Email', label: false  %>
    </div>
    <br>
    <div class="new-form-borders mb-4">
      <%= f.input :username, placeholder: 'Username', label: false   %>
    </div>
    <div class="hint">
      <%= f.hint  "Create Password #{@minimum_password_length} characters", class: "hint" %>
    </div>
    <div class="new-form-borders mb-4">
    <%= f.input :password,
                required: true,
                input_html: { autocomplete: "new-password" }, placeholder: 'Password', label: false   %>
    </div>
    <div class="new-form-borders">
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" }, placeholder: 'Confirm password', label: false   %>
     </div>
     <br>
  </div>


  <div class="form-actions">
    <%= f.button :submit, "Sign up", :class => "main-button-form" %>
  </div>
<% end %>


<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Sign up", new_registration_path(resource_name), :class => "sign-up-text" %><br />
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end %>
<% end %>


</div>
</div>
