<div class="form-container">
  <div class="form form-devise-sing-in">
<h2 style="padding-bottom: 13px;">Forgot your password?</h2>
<p>Enter your user account's verified email address and we will send you a password reset link.</p>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }, placeholder: 'Email', label: false  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Reset password", :class => "main-button-form" %>
  </div>
<% end %>

<div class="links-password">
<%= render "devise/shared/links" %>
</div>
</div>
</div>
