<div class="container-landing">
  <div class="search-container p-2">
    <div class="center-text">
    <p class="intro-text">Arrive to any city and avoid any awkwardness instantly with tips from locals.</p>
    <h2>Welcome to</h2>
    <div class="home-image">
      <%= image_tag "logo_white.png" %>
    </div>


    <%= simple_form_for :search, url: root_path, method: "GET" do |f| %>
    <%= f.input :Location, :label => false, input_html: {value: "Madrid", id: "query-city"} %>
    <%= f.input :name, :label => false, input_html: {value: "Search for a tip", id: "query"} %>
    <%= f.submit "Search", class: "search-btn p-2 m-2" %>
    <% end %>
    <div class="categories-box">
      <p class="category-text">Or choose a category:</p>
      <div class="category-card-container">
        <%= render 'components/category_card' %>
      </div>
    </div>
    </div>
  </div>
</div>

