<div class="container-landing">
  <div class="search-container p-2">
    <div class="center-text">
      <div class="intro">
      </div>
    <div class="home-image">
      <%= image_tag "Ellipse.png" %>
    </div>
    <h1>Feel like a local!</h1>

    <%= simple_form_for :search, url: root_path, method: "GET" do |f| %>
    <%= f.input :location, label: false, input_html: { placeholder: "Madrid", id: "query-city", class: 'places-search' } %>
    <br>
    <%= f.input :name, label: false, input_html: { placeholder: "Search for a tip", id: "query" } %>
    <br>
    <%= f.submit "Search", class: "search-btn" %>

    <% end %>
    <div class="see-more">
      <i class="fas fa-chevron-down"></i>

    </div>
    <div class="container">
      <div class="categories-box">
        <p class="category-text">Browse by Category</p>
        <div class="category-card-container">
          <%= render 'components/category_card' %>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

