<div class="form-container">
  <h1>Your cities</h1>
  <p>Add cities where you could give advice on.</p>
  <div class="form">
    <%= simple_form_for @user_city do |f| %>
      <div class="new-form-borders">
        <%= f.input :name, placeholder: 'Select a city', label: false, input_html: { class: 'places-search' }%>
      </div>
        <br>
      <div class="form-actions">
        <%= f.button :submit, "Add city", class: 'purple-button' %>
      </div>
    <% end %>
    <br>
  <% if @cities %>
    <p>These are your cities:</p>
    <ul class='current-cities'>
      <% @cities.each do |city|  %>
      <li><%= city.name.split(',')[0] %>
        <%= link_to(city, method: :delete) do %>
          <i class="fas fa-times"></i>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
    <%= link_to questions_path do %>
      <button class="main-button-form">Done</button>
    <% end %>
  <% else %>
   <button class="main-button-form disabled" >Add one city to continue</button>
  <% end %>
</div>

