<!-- new user_city form -->
<div class="form-container">
  <h1>Your cities</h1>
  <p>Add the cities where you could give advice on.</p>
  <div class="form">
    <div class="select-fav-city">
      <%= simple_form_for @user_city do |f| %>
      <div class="search-your-city">
      <%= f.input :name, placeholder: 'Select a city', label: false, input_html: { class: 'places-search' }%>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Add city", class: 'white-button' %>
      </div>
    </div>
    <% end %>
    <br>
  <% if @cities %>

    <ul class='current-cities'>
      <% @cities.each do |city|  %>
      <li><%= city.name.split(',')[0] %>
        <%= link_to(city, method: :delete) do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
    <%= link_to questions_path do %>
      <button class="main-button-form">Done</button>
    <% end %>
  <% else %>
   <button class="main-button-form disabled" >Add one city to continue</button>
  <% end %>
</div>

