<div class="form">
  <%= simple_form_for [@question, @tip] do |f| %>
  <div class="new-form-borders">
      <%= f.input :title, placeholder: 'Title', label: false %>
    </div>
      <br>
    <div class="new-form-borders">
      <%= f.input :content, placeholder: "Write your tip here...", label: false, class: 'input-form-create' %>
    </div>
  <div class="counter-new-tip"> <span id="body-count">0 characters</span><span> of 500</span></div>


    <% if !@question.present? %>
      <%= f.input :location, placeholder: 'Select a city',label: false, input_html: { class: 'places-search new-form-borders' } %>
      <%= f.association :category, prompt: "Select a category",label: false, input_html: { class: "new-form-borders" } %>
      <%= f.input :country, as: :string, input_html: { id: "search-result-country" } %>
      <%= f.input :city, as: :string, input_html: { id: "search-result-city" } %>
      <%= f.input :latitude, as: :string, input_html: { id: "search-result-lat" } %>
      <%= f.input :longitude, as: :string, input_html: { id: "search-result-lng" } %>
    <% end %>

    <%= f.button :submit, "Post yor tip", class: 'main-button-form'  %>
  <% end %>
</div>

