<div class="form">
  <%= simple_form_for [@question, @tip] do |f| %>
    <%= f.input :title, placeholder: 'Title', label: false %>
    <%= f.input :content, placeholder: "Write your tip here...", label: false, class: 'input-form-create' %>

    <% if !@question.present? %>
      <%= f.input :city, placeholder: 'City',label: false, input_html: { class: 'places-search' } %>
      <%= f.association :category, prompt: "Select category",label: false %>
    <% end %>

    <%= f.button :submit, "Post Tip", class: 'main-button-form'  %>
  <% end %>
</div>
