<div class="form">
  <%= simple_form_for @tip do |f| %>
    <%= f.input :title, placeholder: 'Title', label: false %>
    <%= f.text_area :content, placeholder: "Write your tip here...", label: false, class: 'input-form-create' %>
    <%= f.input :city, placeholder: 'City',label: false %>
    <%= f.association :category, prompt: "Category",label: false %>
    <%= f.button :submit, class: 'main-button-form'  %>
  <% end %>
</div>
