<div class="form">
  <%= simple_form_for [@question, @tip] do |f| %>
    <div class="new-form-borders">
      <%= f.input :title, placeholder: 'Title', label: false %>
    </div>
      <br>
    <div class="new-form-borders">
      <%= f.input :content, placeholder: "Write your tip here...", label: false, class: 'input-form-create' %>
    </div>
      <br>
      <% if !@question.present? %>
    <div class="new-form-borders">
      <%= f.input :city, placeholder: 'Select a city',label: false, input_html: { class: 'places-search' } %>
    </div>
      <br>
    <div class="new-form-borders">
      <%= f.association :category, prompt: "Select a category",label: false %>
    </div>
    <% end %>

    <%= f.button :submit, "Post yor tip", class: 'main-button-form'  %>
  <% end %>
</div>
