<div class="index-tips">
  <%= simple_form_for :search, url: root_path, method: :get do |f| %>
    <div class="d-flex search-index">
      <%= f.input :city, as: :hidden, input_html: { autocomplete: 'off', value: params[:city], id: 'query-city'} %>
      <%= f.input :search, input_html: { autocomplete: 'off', placeholder: params[:search], class: 'input-search', id: 'query' },
        label: false %>
      <%= button_tag(type: 'submit', class: "search-btn index-search-btn") do %>
        <i class="fas fa-search"></i>
      <% end %>
    </div>
  <% end %>
<%= render "components/categories_results", tips: @tips, count: @count  %>
</div>
